
<div class="jumbotron">
  <h2> Welcome to Stock Tracker!</h2>
  <img src="https://cloud.githubusercontent.com/assets/10228443/12915281/343c6c12-cf50-11e5-9def-10827b42f8ed.png" alt="stock" width="700" height="400">
</div>
