<h1> Welcome to Stock Tracker!</h1>

<%= link_to "myPortfolio", my_portfolio_path,:class=> "btn btn-success" %>

<%= link_to "logout", destroy_user_session_path, method: :delete,:class=> "btn btn-danger" %>