.results-block{
  display: inline-block;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.no-padding {
padding: 0 !important;
}
.left-padding {
padding-left: 15px !important;
}

.user-name {
padding-top: 15px;
}
.logout {
padding-left: 0;
}
.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;
}
.btn-danger:hover {
background-color: darken(#d9534f, 20%) !important;
}
}